html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
header,
nav,
section,
footer {
  display: block;
}
header {
  top: 0px;
  position: fixed !important;
  position: absolute;
  height: 15%;
  width: 100%;
}
nav {
  bottom: 0px;
  height: 30%;
  left: 0px;
  position: absolute;
  width: 100%;
}
#Content {
  top: 10%;
  height: 80%;
  position: relative;
  overflow: auto;
  width: 100%;
}
footer {
  bottom: 0px;
  position: absolute;
  height: 5%;
  width: 100%;
}
