<template name="content">

    {{> login}} {{> register}}

    <section id="Content">
        <div class="w3-container">
            <!-- Topics navigation -->
            <div class="w3-bar">
                <ul class="">
                    {{#each forum}}
                    <li class="w3-bar">
                        <h3>
                            <div class="w3-bar-item w3-text-blue">{{ name }}</div>
                        </h3>

                        {{#if currentUser}}

                        <i class="topicsBtn w3-bar-ite fa fa-plus w3-text-blue" id="btn{{ _id }}"></i>

                        <div class="w3-bar-item">
                            <input placeholder="Neuer Kommentar" class="w3-input w3-border-blue" id="inp{{ _id }}" type="text">
                        </div>
                        {{/if}}
                        <div class="w3-bar">
                            {{> threadtemplate}}
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </section>
</template>

<template name="threadtemplate">
    <ul class="">
        {{#each threads}}
        <li class="w3-bar">
            {{#if currentUser}}
            <div class="w3-bar-item postBtn">
                <i class="fa fa-reply"></i>
            </div>
            {{/if}}
            <div class="w3-bar-item">
                {{ content}}
            </div>
        </li>
        {{/each}}
    </ul>
</template>