<template name="content">

    {{> login}} {{> register}} {{> newEntries}} 

    <section id="Content">
        <div class="w3-container">
            <!-- Topics navigation -->
            <div class="w3-bar">
                <ul class="">
                    {{#each forum}}
                    <li class="w3-bar">
                        <h3>
                            <div class="w3-bar-item w3-text-blue">{{ name }}</div>
                        </h3>

                        {{#if currentUser}}

                        <div class="w3-bar">
                            <button class="w3-button w3-blue newThread" data-id="{{ _id }}" data-name="{{ name }}"><i class="fa fa-plus w3-padding-small"></i>Neuer Kommentar</button>
                        </div>
                        {{/if}}
                        <div class="w3-bar">
                            {{> threadtemplate}}
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </section>
</template>

<template name="threadtemplate">
    <ul class="">
        {{#each threads}}
        <li class="w3-bar">
            {{#if currentUser}}
            <div class="w3-bar-item newPost" data-threadid="{{ _id }}" data-forumid="{{../_id}}">
                <i class="fa fa-reply " ></i>
            </div>
            {{/if}}
            <div class="w3-bar-item">
                {{ content}}
            </div>
        </li>
        {{/each}}
    </ul>
</template>