<template name="footer">
    <footer>
        <div class="w3-bar w3-wide w3-padding w3-card">
            <!-- Float links to the right. Hide them on small screens -->
            <div class="w3-right w3-tiny">
                <a href="https://www.madcross.de/impressum.html" class="w3-bar-item w3-button">Impressum</a>
                <a href="https://www.madcross.de/datenschutz.html" class="w3-bar-item w3-button">Datenschutzerklärung</a>
            </div>
        </div>
    </footer>
</template>