<template name="register">
                <!--login popup-->
                <div id="id01" class="w3-modal w3-animate-left">
                    <div class="w3-modal-content">
            
                        <form class="w3-container w3-card-4 ">
                            <h2 class="w3-text-blue">Anmeldung</h2>
                            <p>Hier anmelden oder registrieren um Forenbeiträge zu schreiben.</p>
                            <p>
                                <label class="w3-text-blue">
                                    <b>eMail-Adresse</b>
                                </label>
                                <input class="w3-input w3-border" type="email" name="email" autocomplete="email" maxlength="100">
                            </p>
                            <p>
                                <label class="w3-text-blue">
                                    <b>Passwort</b>
                                </label>
                                <input class="w3-input w3-border" type="password" name="password" autocomplete="current-password" maxlength="100">
                            </p>
                            <div class="w3-bar w3-margin">
                                <input class="w3-bar-item w3-bar-input w3-margin" type="submit" value="Login">
                                <input class="w3-bar-item w3-bar-input w3-margin" type="submit" value="Registrieren">
                                <input class="w3-bar-item w3-bar-input w3-margin" type="submit" value="Passwort vergessen">
                            </div>
                        </form>
                    </div>
                </div>
</template>